body {
  background: url(../images/pattern-curve.svg) no-repeat;
  background-size: 100%;
  background-position: bottom;
}


.article {
  display: grid;
  
  &--photo {
    border-radius: 1em;
    box-shadow: 0px 5px 25px hsla(240, 37%, 20%, 0.5);
  }

  &__img {
    position: relative;
    background: url(../images/pattern-bg.svg) no-repeat;
    background-size: contain;
    background-position: center;

    padding: 3.8em;
    margin: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__btn {
    position: absolute;
    bottom: 20px;

    text-align: center;
    background-color: white;
    border-radius: 5em;

    &--all {
      cursor: pointer;
    }

    &--img {
      margin: 0.5em;
    }
  }

  &__quote {
    color: $dark-blue;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    padding: 1em;

    background: url(../images/pattern-quotes.svg) no-repeat;
    background-size: 15%;
    background-position: top center;
  }

  &__person {
    text-align: center;
    font-size: 0.8rem;
    line-height: 0.3;
    color: $dark-blue;

    &--name {
      font-weight: 700;
    }

    &--job {
      opacity: 0.5;
    }
  }
}